


.box_card_profile {
    display: flex;
}

.card_profile_sports_people {
    padding: 20px;
    margin: 10px 10px;
    box-shadow: var(--box-shadow-1);
    text-align: center;
    background-color: #FFF;
    border: none;
    border-radius: 6px;
}

.card_profile_sports_people img,
#imgUpload {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    margin: 15px;
    background-color: var(--color-bg);
}

.card_add_infomation {
    background-color: #FFF;
    margin-top: 15px;
    padding: 20px;
    border: none;
    border-radius: 6px;
    text-align: center;
}

.card_add_infomation img {
    width: 130px;
    margin: 15px 0;
}




